* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
}

.main-header {
  background: url('/img/headphones_hero_1.jpg') no-repeat center center/cover;
  height: 100vh;
  color: white;
  position: relative;
  text-align: center;
  padding: 20px;
}


.logo {
  position: absolute;
  top: 20px;
  left: 40px;
  font-weight: bold;
  font-size: 18px;
}


.nav-links {
  position: absolute;
  top: 20px;
  right: 40px;
  gap: 15px;
}

.nav-links a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color:#ff6565;
}


#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
}

.header-content h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.header-content h2 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 30px;
}

.header-content button {
  background-color: #ff6565;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: opacity 0.3s;
}

.header-content button:hover {
  opacity: 0.8;
}

.header-content p {
  font-size: 14px;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .logo {
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
  }

  /* Show hamburger */
  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: white;
    z-index: 1001;
    cursor: pointer;
  }

  .hamburger::before {
    content: '☰'; /* hamburger icon */
  }

  #menu-toggle:checked + .hamburger::before {
    content: '×'; /* close icon */
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 70%;
    height: 100%;
    background: transparent; 
    gap: 30px;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
    z-index: 1000; 
  }


  .nav-links a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin: 10px 0;
  }
   #menu-toggle {
    display: none;
    right: 0;
}
#menu-toggle:checked ~ .nav-links {
    right: 0;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
   
  }
}

