.logo {
    font-size: 2em;
    margin-right: 1em;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: rgb(230, 255, 196);
    color: rgb(91, 134, 120);
    font-family: 'Times New Roman', Times, serif;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

header {
    background-color: azure;
    color: darkslategrey;
    padding: 10px;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

header li {
    margin-right: 15px;
}

a {
    color: dimgrey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article {
    padding: 20px;
    background-color: black;
    border: 1px solid;
}