* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color:#fff;
    background: url('/public/Smile\ g.png');
    background-position: top 90px ;
    background-size: 100% 13%;
    background-repeat: no-repeat;
}
header nav {
    display: flex;
    gap: 700px;
    margin: 50px 70px 60px;

}
header nav ul {
    display: flex;
    gap: 50px;
    /* text-decoration: none; */
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}
header nav ul li  {
    list-style: none;
}

main {
    max-width: 1190px;
}

main section {
    /* background: url(/public/Smile\ g.png) no-repeat center center/cover; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
main section div {
    width: 100%;
    padding: 80px 0;
}
 h1 {
    font-size: 130px;
    margin: 0 0 20px;
    /* font-family: bold sans-serif ; */
}
main section div span {
    margin: 2px 30px;
}

main section div button {
    margin-top: 40px;
    width: 200px;
    height: 45px;
    border-radius: 20px;
    box-shadow: 0 0 8px #000;
    background-color: rgb(122, 70, 122);
    color: white;
    border: none;
}
main section div:nth-child(2) h2 span {
    color: purple;
    margin: 0;
    padding: 0;
}

main section div:nth-child(2) div {
    display: flex;
    margin-left: 20px;
    /* text-align: center; */
}


main section div:nth-child(2) div div {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
}

main section div:nth-child(2) div div img {
   height: 90px;
   aspect-ratio: 1/1;
   border-radius: 50%;
   margin: 10px auto;
}


